/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */


/*
 Colors based on Scheme:
  http://colorschemedesigner.com/#3u61TK-hWpBpB

*/

html,
button,
input,
select,
textarea {
    color: #222;
}

stroke {
    text-decoration: line-through;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a,
a:visited,
a:hover {
    color: #236F9D;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial, sans-serif;
    font-weight: 300;
    background-color: #222;
    color: #fff;
}

h1 {
    font-weight: 700;
}

h2, h3, h4, h5 {
    font-weight: 400;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}


.header-container {
    max-width: 720px;
    padding: 0 10px;
    margin: 0 auto;
}

.site-header {
  padding: 0.8em 0;
}

.promo {
    /*background-color: #222;*/
    background: url(/assets/beach_bg.jpg);
    background-size: 100% auto;
    position: relative;
    padding-top: 40vh;
    text-align: center;
}


.with-promo .main {
    padding-top: 0;
}

.with-promo .header-container,
.with-promo .site-nav  {
    display: none;
}

.promo h1 {
    margin: 0;
    padding: 6vh 0 3vh;
    font-size: 3em;
    color: #eee;
    line-height: 1.2em
}

.promo .blocker {
    display: block;
    padding: 5vh 0 2vh 0;
    background: rgba(0, 0, 0, 0.35);
}

.promo .description {
    margin: 1em 2em 0;
    font-size: 1.25em;
    color: #ddd;
}

.promo .description a {
    text-decoration: none;
}



#pledgeRibbon a {
    background: #20A260;
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1rem;
    line-height: 2rem;
    position: relative;
    transition: 0.5s;
}
#pledgeRibbon a:hover {
    background: #060;
    color: #fff;
}
#pledgeRibbon a::before,
#pledgeRibbon a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
}
#pledgeRibbon a::after {
    bottom: 1px;
    top: auto;
}
@media screen and (min-width:800px) { 
    #pledgeRibbon {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;
        z-index: 9;
    }
    #pledgeRibbon a {
        width: 200px;
        position: absolute;
        top: 60px;
        right: -60px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
    }
}

.tiny-button {
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    color: #20A260;
    font-size: 0.8em;
}

em {
    text-transform: none;
    font-style: normal;
    font-weight: 400;
    color: #20A260;
}

.site-logo {
    float: left;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #000;
}


.site-claim {
    float: left;
    color: #555;
    line-height: 32px;
    margin-left: 20px;
}

.site-logo .hacker, .marker {
    color: #20A260;
}

.site-logo .ship {
    color: white;
}

.site-logo a {
  text-decoration: none;
}

.inline-block-list li:first-child {
    margin-left: 0;
}
.inline-block-list li {
    display: inline-block;
    padding: 0;
    margin: 0 0 0 1.5em;
    vertical-align: top;
}

.main-container {
    background-color: #fff;
    color: #222;
    position: relative;
}

.title {
    color: white;
}

.cta-option {
    position: relative;
    display: inline-block;
    margin: 2.5em .5em 0;
    vertical-align: top;
}

a.btn-apply,
a.btn-pledge,
a.btn-learn-more,
.newsletter button,
.promo-newsletter button,
a.btn-pledge:visited,
a.btn-apply:visited {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: .6em 1em;
    border: 1px solid #236F9D;
    color: #fff;
    background: #236F9D;
    border-radius: 4px;
    box-shadow: 0 2px 5px -2px #111,inset 0 2px 5px 0 rgba(255,255,255,.3);
    font-size: 1.5em;
    text-decoration: none;
}

a.btn-apply:hover {
    border: 1px solid #3B789D;
    background: #3B789D;
    color: #fff;
}

a.btn-learn-more,
a.btn-learn-more:visited {
    margin-top: .25em;
    border-color: #222;
    background: #444;
    box-shadow: none;
    font-size: 1.25em;
}

a.btn-learn-more:hover {
    border-color: #333;
    background: #555;
}

.main h2 {
    text-align: center;
    font-weight: 600;
}

.grid {
    margin: 0 -15px;
    letter-spacing: -.31em;
    word-spacing: -.43em;
    text-rendering: optimizespeed;
}

.grid-cell {
    display: block;
    vertical-align: top;
    width: 100%;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: left;
    text-rendering: auto;
}

.grid-cell > * {
    padding: 0 15px;
}

#more-hackership ul {
    padding-left: 1em;
    list-style: none;
}

#more-hackership .date-info {
    font-size: 0.6em;
    display: block;
    margin: 10px 0 -5px 0;
}

#more-hackership li {
    padding-left: 2em;
}

.main article {
    max-width: 720px;
    margin: 100px auto 30px;
}

.newsletter section{
    text-align: center;
}

.promo-newsletter input,
.promo-newsletter button,
.newsletter input,
.newsletter button {
    font-size: 1em;
    line-height: 2.2em;
    border-radius: 5px 0 0 5px;
    padding-left: 15px;
}

.promo-newsletter input,
.newsletter input {
    max-width: 50%;
}

.promo-newsletter button,
.newsletter button {
    border-radius: 0 10px 10px 0;
    vertical-align: baseline;
    padding: 3px 15px 2px;
}

/* ==============
    MOBILE: Menu
   ============== */
nav.site-nav {
    float: right;
    margin: -30px 120px 10px 0;
}

nav.site-nav:after {
    content: " ";
    display: table;
    clear: both;
}
nav ul {
    padding: 0;
    list-style: none;
}

nav a {
    display: block;
    font-weight: 400;
    color: #236F9D;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover,
nav a:visited {
    color: #236F9D;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h2 {
    text-align: center;
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

footer {
    max-width: 720px;
    color: white;
    padding: 20px;
    margin: 0 auto;
    font-size: 0.8em;
}

footer div.third {
    float: left;
    width: 45%;
}

footer address {
    font-style: normal;
    line-height: 1.5em;
}

footer ul {
    list-style: none;
    padding-left: 0;
}
footer li {
    padding: 5px 10px;
    display: inline;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */








#slidedeck-wrapper {
    margin: 0 auto;
    padding: 0;
    display: block;
    width: 304px;
    height: 190px;
    position: relative;
}

#slidedeck {
    display: none;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 10;
    position: relative;
}

#loading-slides {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #286d99;
    color: white;
    display: block;
    text-align: center;
    padding-top: 25%;
}

#slidedeck-next,
#slidedeck-prev {
    cursor: pointer;
    display: none;
    color: white;
    line-height: 39px;
    width: 30px;
    opacity: 0.5;
    background-color: #222;
    color: white;
    position: absolute;
    z-index: 12;
    top: 40%;
    text-align: center;
}

#slidedeck-prev {
    border-radius: 100% 5px 5px 100%;
    left: -10px;
}

#slidedeck-next {
    border-radius: 5px 100% 100% 5px;
    right: -10px;
}


.connect {
  width: 40%;
  float: left;
}

.promo-newsletter {
    margin: 1.5em 0 0 0;
}

.newsletter {
  width: 59%;
  float: left;
}

.imprint {
  padding: 3em 0 0 0;
  clear: both;
  text-align: center;
  font-size: 0.9em;
}

.imprint address {
  display: inline;
}

/*
 - VIMEO VIDEO EMBED
*/
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.5%;
  margin: 25px auto;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

    #slidedeck-wrapper {
        width: 430px;
        height: 269px;
    }

}

@media only screen and (min-width: 768px) {


/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {/*
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;*/
    }

    #slidedeck-wrapper {
        width: 690px;
        height: 432px;
    }

    .grid-cell {
        display: inline-block;
        width: 50%;
    }
/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

/* ============
    WIDE: Main
   ============ */

    .promo-newsletter input,
    .promo-newsletter button,
    .newsletter input,
    .newsletter button {
        font-size: 1.8em;
        line-height: 1.6em;
    }

    .promo-newsletter input,
    .newsletter input {
        max-width: 60%;
    }

}

@media only screen and (min-width: 1024px) {

/* ===============
    Maximal Width
   =============== */

    #slidedeck-wrapper {
        width: 720px;
        height: 450px;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    #slidedeck-wrapper {
        width: 720px;
        height: 450px;
    }

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
