.black-hs {
	background-color: #222;
}

.black-text-hs {
	color: #222;
}

.green-text-hs {
	color: #20a260
}

.green-hs-soft {
    background-color:#e8f5e9
}

.green-hs {
	background-color: #20a260;
}

.green-hs:hover button {
    background-color: #222;
}

.offer {
    background-color: #f5f5f5;
}
.testimonials {

}

.section {
    padding-top: 3vw;
    padding-bottom: 3vw;
}

body {
    color: #222;
}


