<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% capture title %}{% if page.title %}{{ page.title | capitalize }}{% if page.tagline %} -- {{page.tagline| capitalize }}{% endif %} || {{site.title}}{% else %} {{site.title}}{% endif %}{% endcapture %}

        <title>{{ title | escape }}</title>
        <title>Hackership - time to become a better hacker </title>
        <meta name="description" content="Hackership is a self-directed, hands-on colearning master-class for Coders, Programmers and Software Developers to acquire new skills or become better at what they already do.">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="/css/materialize.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>


        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/js/materialize.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

          <script type="text/javascript">
          if(!window.$) {
            window.__call_laters = [];
            function jq_dummy(fun) {
               window.__call_laters.push(fun)
            }
            window.$ = jq_dummy;
          }
          </script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
      
        {{content}}

        <!-- <div class="container" style="background-color: white; text-align: center; color: #999; line-height: 50px; padding: 50px;">
            <div class="wrapper">
                <span>Batch-1 is hosted by:</span> <a href="http://tech.zalando.com/" target="_blank"><img src="/assets/logo_zalando.jpg" style="height: 50px; margin: 0 10px;" alt="Zalando Logo"></a>
            </div>
        </div> -->


        <footer class="page-footer grey darken-3">
                <div class= "container">
                    <div class = "row">
                        <div class= "col 16 s6">
                            <span style="padding-right:2vw;"><a href="https://www.facebook.com/hackership" class="grey-text text-lighten-4"><i class="fa fa-facebook-f fa-lg"></i> </a></span>
                            <span style="padding-right:2vw;padding-top:1vw;"><a href="https://www.twitter.com/hacker_ship" class="grey-text text-lighten-4"><i class="fa fa-twitter fa-lg"></i> </a></span>  
                            <span><a href="https://plus.google.com/114286322233180061886" class="grey-text text-lighten-4"><i class="fa fa-google-plus-square fa-lg"></i> </a></span>

                            <p class="grey-text text-lighten-4">Email: <a href="mailto:team |at| hackership |dot| org" class="grey-text text-lighten-4">team at hackership dot org</a></p>
                            <ul>
                            <li><a href="/get-involved/">Get Involved</a></li>
                            <li><a href="/team">Meet the Team</a></li>
                            <li><a href="/values#conduct">Code of Conduct</a></li>
                            <li><a href="/history">History</a></li>
                            <li><a href="/get-involved/">Companies</a></li>
                            <li><a href="/get-involved/">Press</a></li>
                            <li><a href="https://www.google.es/maps/place/Palmitos+Park/@27.831647,-15.617954,11z/data=!4m5!1m2!2m1!1spark!3m1!1s0xc408324c1564579:0xb87ba56f0b56064b?hl=en">Go Outside</a></li>
                            </ul>
                        </div>
                        <div class= "col s6 grey-text text-lighten-4">
                            <h5 class="white-text">Newsletter</h5>
                            <p>Stay up to date with Hackership</p>
                            <div class="row">
                                <form class="col s12" action="http://hackership.us7.list-manage1.com/subscribe/post?u=d893774e9260bf62c4533f5d1&amp;id=eec4326c27" method="post" id="mc-embedded-subscribe-form" style="background-color:white;color:black;">
                                    <div class="input-field col s12">
                                        <input id="email" type="email" name="EMAIL" placeholder="name@domain.com" value="" class="email" required>
                                    </div>
                                    <button class="btn waves-effect white-waves"type="submit" name="action" id="ss-submit">subscribe
                                        <i class="mdi-content-send right"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class = "footer-copyright grey darken-4">
                    <div class="container">
                        <span class="text-white">@ 2015 Copyright Hash Picker UG ||
                        Licenced by <a href="http://www.opentechschool.org">OpenTechSchool</a></span>
                    </div>
                </div>
        </footer>
        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
          <script>
              if(window.__call_laters && window.__call_laters.length) {
                $.each(window.__call_laters, function(idx, fun) {
                  $(fun);
                });
              }
            </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-33344154-2', 'hackership.org');
          ga('send', 'pageview');

        </script>
    </body>
</html>
