---
layout: default
---

        <div class="main-container">
            <div class="main container clearfix">


                <nav class="site-nav">
                    <ul class="inline-block-list">
                        <li><a href="http://blog.hackership.org/" data-ga-action="Nav click" data-ga-label="blog">Blog</a></li>
                        <li><a href="/learn-more/" data-ga-action="Nav click" data-ga-label="learn more">Learn more</a></li>
                        <li><a href="/get-involved/" data-ga-action="Nav click" data-ga-label="learn more">Get Involved</a></li>
                        <li><a href="/questions/" data-ga-action="Nav click" data-ga-label="Questions">Questions</a></li>
                        <li><a href="/apply/" data-ga-action="Nav click" data-ga-label="Apply">Apply</a></li>
                    </ul>
                </nav>

                <div class="wrapper">
                    {{content}}
                </div>
            </div> <!-- #main -->
        </div> <!-- #main-container -->
