---
layout: default
body_tags: "with-promo"
---

<div class="promo">
    <h1>Hackership on a Beach</h1>
    <div class="blocker">
        <div class="wrapper">
            <div>
                <p class="description">Hackership is a <em>self-directed, hands-on</em> full-time code learning programme and master-class for intermediate and experienced coders to acquire <em>new skills</em> or <em>become better</em> at what they already do. <br> It's like an apprenticeship. But for hackers. A Hackership.
                </p>
                <p class="description">Batch-2 will take place 12th January-15th March 2015, next to a sunny beach. <em>Join us!.</em> Apply now, and state your preferred location (Gran Canaria/ Costa Rica/ India). 
                </p>
                <p class="description">We're also launching <em>SPONSORED SEATS</em> to support eligible learners with the tuition fees</p>
                <p class="description">Intense learning + awesome people + beach paradise + time to explore = <em>Hackership on Tour</em>. 
                </p>
                <!-- <p class="description">Make sure to <em>subscribe to the newsletter</em> to get all the latest Hackership news and updates:</p>
            </div>

            <div class="newsletter" style="width: 100%; float: none; text-align: center; margin: 50px auto">
                <form action="http://hackership.us7.list-manage1.com/subscribe/post?u=d893774e9260bf62c4533f5d1&amp;id=eec4326c27" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <input type="email" value="" name="EMAIL" class="email"  placeholder="name@domain.com" required>
                    <button type="submit" name="submit" id="ss-submit">subscribe</button>
                </form>
            </div> -->

             <div class="cta-option">
                <a class="btn-apply" href="/apply/" data-ga-action="apply now - promo" data-ga-label=""><span>Apply now</span></a>

                <!-- <p class="description" style="font-size: 0.9em; line-height: 1em; margin-top: 30px;">or join us for <a href="http://blog.hackership.org/2014/05/Announcing-Taste-of-Hackership-Experience-Hackership-first-hand.html">A Taste of Hackership</a> to learn more.</p>
           </div> -->
        </div>
    </div>
</div>

<div class="wrapper">
    {{content}}
</div>
