---
layout: default
---  
<div class="promo">
    <div class="wrapper">
        <div class="aspect-ratio">
            <div id="pledgeRibbon"><a href="http://www.indiegogo.com/projects/an-apprenticeship-for-hackers-a-hackership/x/3944401">Pledge now</a></div>
        
            <iframe src="//player.vimeo.com/video/82281060?title=0&amp;byline=0&amp;portrait=0&amp;color=20A260" width="650" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <hr>

        <div>
            <p class="description">Hackership is a <em>self-directed, hands-on</em> full-time code learning programme and master-class for experienced coders to acquire <em>new skills</em> or <em>become better</em> at what they already do. <br> It's like an apprenticeship. But for hackers. A Hackership.
            </p>
            <p class="description">We've successfully <a href="http://blog.hackership.org/2013/12/Batch-0s-end-is-just-the-beginning-announcing-our-crowd-funding-campaign.html">run an experimental Batch-0</a>, now we need <em>your help</em> to make the full-length programme happen. <em>Pledge now</em> and take part in building the most amazing tech-learning-experience-hacker community yet.</p>
        </div> 

        <div class="cta-option">
            <a class="btn-pledge" href="http://www.indiegogo.com/projects/an-apprenticeship-for-hackers-a-hackership/" data-ga-category="pledge" data-ga-action="Pledge - top" data-ga-label="">
                            <strong>Pledge</strong>
                <span class="version">now</span>
            </a>
        </div>

        <!-- <div class="cta-option">
            <a class="btn-learn-more" href="/learn-more/" data-ga-action="learn more - promo" data-ga-label=""><span>learn more</span></a>
       </div> -->
    </div>
</div>

<div class="wrapper">
    {{content}}
</div>
