---
layout: default
---

<div class="promo">
    <div class="wrapper">
        <div class="aspect-ratio">
            <!-- <div id="pledgeRibbon"><a href="/apply/">Apply now</a></div> -->

            <iframe src="//player.vimeo.com/video/82281060?title=0&amp;byline=0&amp;portrait=0&amp;color=20A260" width="650" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <hr>

        <div>
            <p class="description">Hackership is a <em>self-directed, hands-on</em> full-time code learning programme and master-class for experienced coders to acquire <em>new skills</em> or <em>become better</em> at what they already do. <br> It's like an apprenticeship. But for hackers. A Hackership.
            </p>
            <p class="description">After a very successfull experimental Batch-0, we are <a href="http://blog.hackership.org/2014/05/Announcing-Hackership-Batch-1-and-partnership-zalando.html">now accepting applications</a> for Batch-1 taking place July to September 2014 in Berlin. Applications are open until <stroke>June 8th</stroke> June 15th.</p>
        </div>

        <div class="cta-option">
            <a class="btn-apply" href="/apply/" data-ga-action="apply now - promo" data-ga-label=""><span>Apply now</span></a>

            <p class="description" style="font-size: 0.9em; line-height: 1em; margin-top: 30px;">or join us for <a href="http://blog.hackership.org/2014/05/Announcing-Taste-of-Hackership-Experience-Hackership-first-hand.html">A Taste of Hackership</a> to learn more.</p>
       </div>
    </div>
</div>

<div class="wrapper">
    {{content}}
</div>
